In [20]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_excel (r"/home/amy/PycharmProjects/Dissertation/COMPLETE_PIVOT.xlsx", sheet_name = "TOTAL")

df.head()

,TempID,SiteID,Survey_Ref,Modern Name,Ancient Name,Local-Easting,Local-Northing,Easting-Long,Northing-Lat,SiteSize,...,Period,Rainfall,Temperature,Elevation,Slope,Aspect,Cattle/km2,Goats/km2,Pigs/km2,Sheep/km2
0,1,3,ASI1-10,Horbat Nemal Akhziv,NaN,209578.0,771597.0,35.098689,33.039460,3.0,...,Chalcolithic (undifferentiated),NaN,NaN,7.0,1.092813,248.962494,No Data,No Data,No Data,No Data
1,2,4,ASI1-12,Nahariyya (north),NaN,209278.0,770697.0,35.095487,33.031342,1.0,...,Chalcolithic (undifferentiated),586.0,68.000000,0.0,1.255302,270.000000,No Data,No Data,No Data,No Data
2,3,6,ASI2-9,Mizpe Hanita,NaN,216878.0,777398.0,35.176820,33.091807,NaN,...,Chalcolithic (undifferentiated),780.0,65.645004,375.0,7.337373,181.218872,8.15454,52.13,0.551335,1.90502
3,4,12,ASI2-42,Me'arat Kukhim,NaN,218078.0,776098.0,35.189676,33.080088,NaN,...,Chalcolithic (undifferentiated),718.0,66.455002,240.0,26.178837,165.808899,55.2123,10.7639,61.8099,18.1803
4,5,13,ASI2-43,Magharat el Baiyada,NaN,218078.0,776298.0,35.189676,33.081891,NaN,...,Chalcolithic (undifferentiated),718.0,66.455002,315.0,19.314241,114.962791,55.2123,10.7639,61.8099,18.1803

In [22]:
df.groupby('Period').size()

Period
Chalcolithic (undifferentiated)         2591
Early Bronze Age (Undifferentiated)     2517
Early Bronze I                           853
Early Bronze II                          612
Early Bronze II-III                      249
Early Bronze III                         333
Early Bronze IV (undifferentiated)      1818
Early Bronze IVA                          42
Early Bronze IVB                          53
Early Bronze IVC                           7
Early Chalcolithic                        35
Late Bronze Age (undifferentiated)       914
Late Bronze I                             87
Late Bronze II                           116
Late Bronze III                           13
Late Chalcolithic                        125
Middle Bronze Age (undifferentiated)    1109
Middle Bronze I                          482
Middle Bronze II                         519
Middle Bronze II-III                     327
Middle Bronze III                         59
dtype: int64